@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	color: #fff;
  background-color: #bbb;
}

body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 20px;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		// &:focus:required:invalid {
		// 	border-color: red;
		// }
		// &:required:valid {
		// 	border-color: green;
		// }
	}
  @-webkit-keyframes autofill {
    to {
      color: inherit;
      background: transparent;
    }
  }

  input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.button {
  padding: 11px 30px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $red;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.owl-nav {
  position: relative;
  .owl-prev,
  .owl-next {
    position: absolute;
    top: -4px;
    display: block;
    outline: none;
    width: 27px;
    height: 16px;
    span {
      font-size: 0;
    }
    &::before,
    &::after {
      display: block;
      content: '';
      position: absolute;
    }
    &::before {
      top: 7px;
      left: 0;
      width: 27px;
      height: 2px;
      background-color: #a6a6a6;
    }
    &::after {
      top: 0;
      width: 16px;
      height: 16px;
      border-left: 2px solid #a6a6a6;
      border-bottom: 2px solid #a6a6a6;
    }
  }
  .owl-prev {
    left: 40%;
    &::after {
      left: 0;
      transform: rotate(45deg);
    }
  }
  .owl-next {
    right: 40%;
    &::after {
      right: 0;
      transform: rotate(-135deg);
    }
  }
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #fff;
  &::before {
    background-color: $green;
  }
  &::after {
    border-color: $green;
  }
}

button.owl-dot {
  outline: none;
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  background: #869791;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: $green;
}

@import "blocks/header";
@import "blocks/slider";
@import "blocks/block";
@import "blocks/card";
@import "blocks/extra";
@import "blocks/features";
@import "blocks/feedback";
