www/*
!www/wp-content/
www/wp-content/*
!www/wp-content/languages
!www/wp-content/plugins
!www/wp-content/themes
www/wp-content/themes/twenty*/

www/wp-content/themes/**/css/
www/wp-content/themes/**/javascripts/
www/wp-content/themes/**/images/
www/wp-content/themes/**/fonts/

node_modules/
logs/

.idea
.editorconfig
.DS_Store
*.sublime-project
*.sublime-workspace
*.komodoproject

*.log
*.sql
*.sqlite

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

ehthumbs.db
Thumbs.db
thumbs.db

